<li class="list-group-item text-dark">
    <div class="row">
        <div class="col-10 chemicalInfo"><a href="/chemical/{{this.id}}">{{this.name}}</a></div>
        <div class="col-2 flexCol">
            <i class="fas fa-minus-square text-crimson delete-button" aria-hidden="true"></i>
        </div>
    </div>
</li>