<div class="col-lg-4 col-md-6">
    <div class="card mb-4">
        <div class="card-header text-light">
            <h5 class="card-title mb-3">{{name}}</h5>
            <h6 class="card-subtitle mb-1">{{role.title}}</h6>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">id: {{id}}</li>
                <li class="list-group-item">Email: {{email}}</li>
            </ul>
        </div>
    </div>
</div>