<header class="text-center mb-5">
    <h1>Add Chemical</h1>
</header>

<main>
    <form method="POST">
        <div class="mb-3 mx-3">
            <label for="chemicalName" class="form-label">Chemical Name</label>
            <input type="text" class="form-control" id="chemicalName" aria-describedby="chemicalHelp" required>
            <div id="chemicalHelp" class="text-light-grey"><i>Enter name of chemical</i></div>
        </div>
        <div class="mb-3 mx-3">
            <label for="chemicalLocation" class="form-label">Chemical Location</label>
            <input type="text" class="form-control" id="chemicalLocation">
        </div>
        <div class="mb-3 mx-3">
            <label for="chemicalDistributor" class="form-label">Chemical Distributor (optional)</label>
            <input type="text" class="form-control" id="chemicalDistributor">
            <div id="chemicalHelp" class="text-light-grey"><i>Enter name of retailer chemical was purchased from.</i>
            </div>
        </div>
        <div class="mb-3 mx-3">
            <label for="chemicalSN" class="form-label">Chemical Serial Number or Identifier (optional)</label>
            <input type="text" class="form-control" id="chemicalSN">
            <div id="chemicalHelp" class="text-light-grey"><i>Enter SN/catalog number/ID from retailer for reordering
                    purposes.</i></div>
        </div>
        <div class="mb-3 mx-3">
            <label for="memberOptions" class="mb-1">Member that owns chemical (if any)</label>
            <select name="memberOptions" id="memberOptions" class="form-select">
                <option selected>Belongs to no one</option>
                {{#each users as |user|}}
                {{#when user.role.title "!==" "Graduate"}}
                <option value={{user.name}}>{{user.name}}</option>
                {{/when}}
                {{/each}}
            </select>
        </div>
        <div class="mb-3 mx-3">
            <label for="chemicalDetails" class="form-label">Additional Details</label>
            <textarea class="form-control" id="chemicalDetails" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mx-3">Submit</button>
    </form>
</main>

<!-- custom js -->
<script src="Assets/JS/index.js"></script>