<header class="text-center mb-5">
    <h1>Add Chemical</h1>
</header>

<main>
    <form method="POST">
        <div class="mb-3 mx-3">
            <label for="chemicalName" class="form-label">Chemical Name</label>
            <input type="text" class="form-control" id="chemicalName" aria-describedby="chemicalHelp" required>
            <div id="chemicalHelp" class="text-light-grey"><i>Enter name of chemical</i></div>
        </div>
        <div class="mb-3 mx-3">
            <label for="chemicalLocation" class="form-label">Chemical Location</label>
            <input type="text" class="form-control" id="chemicalLocation">
        </div>
        <div class="mb-3 mx-3">
            <label for="chemicalDistributor" class="form-label">Chemical Distributor (optional)</label>
            <input type="text" class="form-control" id="chemicalDistributor">
            <div id="chemicalHelp" class="text-light-grey"><i>Enter name of retailer chemical was purchased from.</i>
            </div>
        </div>
        <div class="mb-3 mx-3">
            <label for="chemicalSN" class="form-label">Chemical Serial Number or Identifier (optional)</label>
            <input type="text" class="form-control" id="chemicalSN">
            <div id="chemicalHelp" class="text-light-grey"><i>Enter SN/catalog number/ID from retailer for reordering
                    purposes.</i></div>
        </div>
        <div class="mb-3 mx-3">
            <label for="memberOptions" class="mb-1">Member that owns chemical (if any)</label>
            <select name="memberOptions" id="memberOptions" class="form-select">
                <option selected>Belongs to no one</option>
                {{#each memberNames}}
                <option value={{this.name}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mx-3">Submit</button>
    </form>
</main>

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<!-- custom js -->
<script src="Assets/JS/index.js"></script>