{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/Assets/CSS/main.css" rel="stylesheet">
{{/section}}

<header id="mainHeader" class="background-wrapper">
    <div class="background-img mt-5">
        <h1 class="text-center pt-3">Welcome to Dr. Stiegman's Group</h1>
    </div>
</header>

<div id="researchTopics" class"mb-0">
    <h2 class="text-center mb-3 pt-3">Research Topics And The Lab</h2>
    <div class="text-center ul-parent">
        <ul>
            <li class="pointer"><a href="#catalysis">Heterogeneous Catalysis</a></li>
            <li class="pointer"><a href="#microwaves">Microwave Chemistry</a></li>
            <li class="pointer">Polymers (retired)</li>
        </ul>
    </div>
</div>

<section id="catalysis" class="container-fluid px-5 mt-0">
    <h3 class="text-center pt-5 mb-3">Heterogeneous Catalysis</h3>
    <div class="row">
        <div class="col-8">
            <p> Heterogeneous catalysis is one of the main focuses of the Stiegman lab that has resulted in several
                publications and consitent funding over a long period of time. The catalyst of primary interest being
                The Phillips catalyst, a chromium-supported (we generally use silica supports but others do exist)
                catalyst that is used in the production of high-denstiy
                polyethylene (HDPE). Our group has worked with several other notable transition metals supported on
                surfaces that are used in catalytic industies, including vanadium, molybdenum and a few more.</p>
        </div>
        <div class="col-3 ml-2">testing</div>
    </div>
    <div class="row">
        <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sequi dolorem dicta corporis
            magni excepturi ipsa, eum debitis aliquid enim animi? Doloremque, ex vel fugit dolores molestiae blanditiis
            molestias laboriosam.</div>
        <div class="col-8 ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sapiente dolorem laboriosam
            dolores quod atque quidem. Harum adipisci voluptas rem maxime repellendus placeat, qui architecto expedita
            amet quaerat. Labore, eaque nulla sunt tempora, ipsum incidunt consectetur illum distinctio nobis nam
            perferendis sit atque velit neque suscipit delectus ab repudiandae laboriosam.</div>
    </div>
</section>

<section id="microwaves" class="container-fluid px-5 mt-0">
    <h3 class="text-center mb-3">Microwave Chemistry</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam unde, alias fugiat, in nihil dignissimos natus
        doloremque quasi error aut voluptate voluptates non necessitatibus? Molestias corrupti omnis mollitia ab
        necessitatibus voluptatem quis, error atque quos praesentium minus dolores aut aperiam magni deleniti
        repudiandae optio. Provident, reiciendis? Mollitia qui voluptatum tenetur aliquam. Exercitationem expedita
        consequuntur deserunt dolores cupiditate a? Facilis dolor minus unde placeat? Expedita quia facere non aliquam
        libero! At quia odio suscipit in sint ad voluptatum voluptate aut hic voluptas, eum obcaecati est fuga
        repellendus alias voluptatibus doloribus blanditiis. Excepturi reiciendis nulla autem voluptas eum illo, nisi
        vero neque.</p>
    <p class="text-center"><a href="#mainHeader">Back to Top</a></pclass>
</section>

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="Assets/JS/index.js"></script>