{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/Assets/CSS/main.css" rel="stylesheet">
{{/section}}

<header class="background-wrapper">
    <div class="background-img">
        <h1 class="text-center my-0 pt-3">Welcome to Dr. Stiegman's Group</h1>
        {{!-- <img src="/Assets/images/solgel-wide.png" alt="Chromium solgels"> --}}
    </div>
</header>


<div id="researchTopics" class"mb-0">
    <h2 class="text-center my-3">Research Topics And The Lab</h2>
    <div class="text-center ul-parent">
        <ul>
            <li class="pointer"><a href="#catalysis">Heterogeneous Catalysis</a></li>
            <li class="pointer">Microwave Chemistry</li>
            <li class="pointer">Polymers (retired)</li>
        </ul>
    </div>
</div>

<section id="catalysis" class="container-fluid mt-0">
    <h3 class="text-center pt-5">Heterogeneous Catalysis</h3>

</section>

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="Assets/JS/index.js"></script>