<h1 class="text-center mt-3 mb-5">The Boss</h1>

<div class="container">
    <div id="bossCard" class="row justify-content-center text-dark">
        {{#each users as |user|}}
        {{#when user.role.title '===' "Boss"}}
        {{> member-details user}}
        {{/when}}
        {{/each}}
    </div>
</div>

<h2 class="text-center mt-3 mb-5">Current Members</h2>

<div class="container">
    <div id="memberCards" class="row justify-content-center text-dark">
        {{#each users as |user|}}
        {{#when user.role.title '===' "Student"}}
        {{> member-details user}}
        {{/when}}
        {{/each}}
        {{#each users as |user|}}
        {{#when user.role.title '===' "PostDoc"}}
        {{> member-details user}}
        {{/when}}
        {{/each}}
    </div>
</div>

<h2 class="text-center mt-3 mb-5">Graduated Members</h2>

<div class="container">
    <div id="graduatedCards" class="row justify-content-center text-dark">
        {{#each users as |user|}}
        {{#when user.role.title '===' "Graduate"}}
        {{> member-details user}}
        {{/when}}
        {{/each}}
    </div>
</div>