<main class="row">
    <div class="column">
        <form>
            <h2 class="text-centered my-5">Enter new member information</h2>
            {{!-- user's name --}}
            <div class="mb-3">
                <label for="userName" class="form-label">Enter name</label>
                <input type="text" class="form-control" id="userName">
            </div>
            {{!-- email --}}
            <div class="mb-3">
                <label for="registerEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="registerEmail">
            </div>
            {{!-- password --}}
            <div class="mb-3">
                <label for="registerPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="registerPassword">
            </div>
            {{!-- select statement for selecting their role --}}
            <div class="mb-3">
                <label for="roleSelect">Select their role</label>
                <select class="form-select">
                    {{#each filteredRoles as |role|}}
                    {{> role-details}}
                    {{/each}}
                </select>
            </div>
            <p id="missingInfoRegister" class="red hidden">Please enter both fields</p>
            <button id="loginBtn" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>