<h1 class="text-center my-4">List of Chemicals Available</h1>

<hr>

<!-- List of chemicals filled by AJAX -->
<ul id="chemicalList" class="list-group my-4 text-dark">
    {{#each chemicals as |chemical|}}
    {{> chemical-list chemical}}
    {{/each}}
</ul>

<!-- Modal -->
<div class="modal fade" id="confirmChemDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="modalChemicalName">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                <p>Are you sure you want to delete this chemical?</p>
                <button id="confirmChemDelete" class="btn btn-danger">Yes</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>