html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 100;
}

.pointer {
    cursor: pointer;
}
  
.background-wrapper {
    width: 100%;
    height: 100%;
}

.background-img{
    background: 
      linear-gradient(teal 0%, 35%, blue 90%), 
      linear-gradient(to right, teal 0%, 40%, purple 90%), 
      url("../images/solgel-wide.png");
    background-position: center;
    background-blend-mode: screen, difference, lighten;
    background-size: cover;
    background-repeat: no-repeat;
    
    position: fixed;
    top: 56px;
    z-index: -1;
    height: 80%;
    width: 100%;
    min-height: 900px;
}

.ul-parent > ul {
    display: inline-block;
}

.spacer {
    width: 100%;
    height: 1000px;
}

#researchTopics {
    height: 200px;
    position: relative;
    background: #e6e6e6;
    color:black;
}

#researchTopics a {
    color: black;
    text-decoration: none;
}

#researchTopics::before,
#researchTopics::after {
    content: "";
    width: 80px;
    height: 60px;
    position: absolute;
    bottom: -0.9em;
    z-index: 1;
    background: #e6e6e6;
}

#researchTopics::before {
    right: 50%;
    transform: skew(0, 20deg);
}
#researchTopics::after {
    left: 50%;
    transform: skew(0, -20deg);
}

#catalysis {
    background: teal;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    padding-bottom: 10vw;
    margin-bottom: -10vw;
}

#microwaves {
    padding-top: 10vw;
    background: rgb(80, 188, 255);
}

#microwaves a {
    color: white;
}