body {
    background: #555;
    color: white;
}
/* Form for adding chemicals */
form {
    max-width: 475px;
    margin: 0 auto;
}

.selected {
    color: blue !important;
}

#logo {
    color: teal;
}

hr {
    width: 75%;
    margin: 0 auto;
    color: white;
}

#chemicalList {
    width: 300px;
    margin: 0 auto;
}

ul span {
    cursor: pointer;
    font-size: 0.9em;
}

.delete-button {
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 5px;
}

.flexCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-crimson {
    color: crimson;
}

.card {
    width: 300px;
    margin: 0 auto;
    box-shadow: 5px 10px 5px 2px #888;
}

.card-header {
    background: teal;
}

.card-body {
    background: lightgrey;
}